*{
margin:0;
padding:0;
box-sizing: border-box;
}


  body{
        background-color: #fff;
        color: #333;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
        margin: 33px;
  }

  h1{
    margin-bottom: 25px;
  }

  .tr {
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
  }
  .title-title{
  width:20%;
  display:inline-block;
  margin-right:5%;
  margin-bottom:10px;
  text-align:left;
  }

  .body-body{
  width:40%;
  display:inline-block;
  margin-right:5%;
  margin-bottom:10px;
  }

  .three{
  width:10%;
  display:inline-block;
  margin-bottom:10px;
  }


  h2 {
    display: block;
    font-size: 1.5em;
    margin-top:25px;
    margin-bottom:10px;
  }

  .field,.body,.submit{
    margin-bottom: 10px;
    display:block;
  }

  .error{
    width:500px;
    height:150px;
    border-color:red;
    border:solid;
  }

  .error-message{
    text-align:left;
    height:20px;
    background-color:red;
  }

  msg-msg{
    text-align:center;
  }

   p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
  }